/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants dark, hover, active, focus {
    .shadow-white-md {
      --tw-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 0 2px 4px -1px rgba(255, 255, 255, 0.06);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .select-dark ::selection {
      background-color: rgba(111, 181, 127, 0.21)
    }

    .select ::selection {
      background-color: rgba(148, 253, 171, 0.21)
    }

    .shadow-blue-md {
      box-shadow: 0 2px 4px -1px rgba(0, 118, 255, 0.39);
    }

    .shadow-primary-md {
      box-shadow: 0 2px 4px -1px rgba(40, 167, 69, 0.39);
    }

    .shadow-primary-lg {
      box-shadow: 0 4px 6px -2px rgba(40, 167, 69, 0.39);
    }
    .shadow-primary-xl {
      box-shadow: 0 10px 10px -5px rgba(40, 167, 69, 0.39);
    }
    .shadow-primary-2xl {
      box-shadow: 0 25px 50px -12px rgba(40, 167, 69, 0.39);
    }
    .clip-text {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}



/* style the mathlive inputs */
body {
  @apply bg-gray-100 dark:bg-gray-900
}

.text {
  @apply text-dark dark:text-darkText;
}

hr {
  @apply border-b dark:border-gray-700 border-gray-100
}

.mathfield {
  --hue:138 !important;
  --caret:#00ab33 !important;
}

.ML__fieldcontainer{
  @apply dark:bg-gray-700 bg-gray-200 bg-opacity-60 px-2 rounded-sm my-2 cursor-text
}

span.correct .ML__fieldcontainer{
  @apply dark:bg-green-300 bg-green-200 dark:bg-opacity-10 bg-opacity-40 px-2 rounded-sm my-2 cursor-text
}

.titlebar.titlebar-active {
  @apply bg-green-400 dark:bg-green-500 shadow-xl text-white px-3 py-2 rounded-xl text-sm font-medium  shadow-primary-xl
}

.btn-primary {
  @apply hover:bg-green-300 cursor-pointer text-green-400 py-2 px-3 my-1 rounded-md dark:hover:bg-opacity-10 hover:bg-opacity-20
}

.titlebar:not(.titlebar-active) {
  @apply text-gray-700 cursor-pointer hover:bg-white dark:text-white dark:hover:bg-gray-700 hover:shadow-lg transition-shadow duration-200 dark:hover:text-white hover:text-current px-3 py-2 rounded-xl text-sm font-medium
}

.nuxt-content-container, .nuxt-content {
  @apply prose dark:prose-dark max-w-none

}

.katex-html .frac-line {
  border-color: currentColor;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0)
}

@media (min-width: 768px) {
  .special.card {
    width: 30vw;
    height: 24em;
  }

  .graph {
    height: 80vw;
    width: 80vw;
  }
}

@media (max-width: 768px) {

  .graph {
    height: 80vw;
    width: 80vw;
  }
}

@media (min-width: 992px) {
  .graph {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 992px) {
  .graph {
    height: 80vw;
    width: 80vw;
  }
}

.graph {
  margin-left: auto; /* Automatic margin from left */
  margin-right: auto; /* Automatic margin from right */
  display: block
}


pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 0px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/* don't use emojis */
.nuxt-content .footnote-backref {

  font-family: Segoe UI Symbol, monospace;
}
/* prevent overscrolling */
body {
  overscroll-behavior-y: none;
}
